*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

*:focus{
    outline: 0;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: .25rem;
}

::-webkit-scrollbar-thumb{
    background-color: #3337;
    border-radius: .6rem;
}

html{
    height: 100dvh;
    font-family: "Lexend", sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    display: grid;
    grid-template-rows: .5fr 10fr;
}

button{
    background-color: #0075d4;
    border: 0;
    padding: .5rem;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
}

button:disabled{
    background-color: #777;
}

input{
    padding: .35rem;
    border-radius: .4rem;
    border: 1.5px solid #777;
    display: inline-block;
    background-color: transparent;
}

input:focus{
    outline-offset: .25rem;
    box-shadow: 0 0 0 2px #1117;
}

nav{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 2px 2px #3333;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
}

header{
    padding: .125rem;
}

img{
    border-radius: .4rem;
}

nav div{
    padding: .25rem;
    display: grid;
    place-items: center;
    text-align: center;
    width: 25%;
}

select{
    width: 18rem;
    padding: .35rem;
    border-radius: .4rem;
    cursor: pointer;
    border: 0;
    text-align: center;
}

#copy-btn{
    background-color: transparent;
    position: relative;
    padding: 0;
    width: fit-content;
}

#copy-btn:after{
    position: absolute;
    top: 3px;
    left: 3px;
    content: "";
    width: .5rem;
    height: .75rem;
    border-radius: .125rem;
    background-color: #777;
    box-shadow: 0 0 2px 1px #3333;
}

#copy-btn:before{
    position: absolute;
    top: 7px;
    left: 7px;
    content: "";
    width: .5rem;
    height: .75rem;
    border-radius: .125rem;
    background-color: #333;
    box-shadow: 0 0 2px 1px #3333;
}

#load-area{
    background-color: #ccc7;
    padding: .25rem;
    border-radius: 0 .4rem .4rem 0;
}

#constructor{
    justify-content: space-around;
    align-items: center;
}

#constructor p{
    padding: .125rem;
    padding-bottom: .5rem;
}

#contract-area {
    /* padding: .5rem;
    padding-top: 0;
    padding-left: 0; */
    display: grid;
    grid-template-columns: 1.5fr 6fr;
    height: 100%;
}

#contract-loader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 .5rem;
}

#load-contract{
    display: block;
}

#deploy-contract{
    padding: .5rem;
}

#eth-value{
    padding: .5rem 0;
    margin: .25rem 0;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

#interaction-panel{
    padding: 0 .5rem;
}

#interaction-panel #contract-balance{
    box-shadow: 0 2px 2px 0 #3333;
}

#interaction-panel ul {
    list-style-type: none;
    height: 25rem;
    overflow-y: auto;
}

#interaction-panel ul li {
    padding: .25rem;
    /* display: flex; */
}

#interaction-panel ul li .wrap {
    padding: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#interaction-panel ul li .wrap input {
    display: block;
    margin: .25rem;
}

#tx-details {
    width: 100%;
    padding-top: .5rem;
}

#tx-details #details-wrap{
    height: calc(100dvh - 5rem);
    overflow-y: auto;
    padding: .5rem;
}

#tx-details h3{
    font-size: 1rem;
}

table{
    scroll-behavior: smooth;
    padding: .25rem;
    width: 90%;
    overflow: auto;
    margin: auto;
    margin-bottom: 1rem;
}

tr {
    font-size: .9rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

tbody:nth-child(even) {
    background-color: #aaa7
}

td{
    padding: .5rem;
    text-align: left;
}

td:nth-child(2){
    display: flex;
    align-items: top;
    height: 4rem;
    overflow-y: auto;
    text-overflow: ellipsis;
    word-break: break-all;
}

output{
    display: inline-block;
    width: 75%;
    word-break: break-all;
    font-size: small;
}

#modalbg{
    position: fixed;
    inset: 0;
    background-color: #7777;
    backdrop-filter: blur(.125rem);
    padding-top: 4rem;
    display: none;
}

#modalbg button{
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    padding: .125rem;
}

#modal {
    background-color: #fff;
    width: 50%;
    padding: .5rem;
    border-radius: .4rem;
    margin: auto;
    box-shadow: 0 0 2px 2px #7777;
}

#modal p{
    padding: .25rem;
    word-break: break-all;
    font-family: monospace;
    color: #f00a;
    font-weight: bold;
    text-align: center;
}

#intro{
    padding: .5rem;
}

#intro-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: .5rem;
}

#intro ul {
    /* list-style-type: none; */
    list-style-position: inside;
    padding: .5rem;
}

#intro ul li{
    padding: .125rem;
    font-size: .85rem;
}

pre{
    background-color: #ccc7;
    font-family: monospace;
    padding: .125rem;
    border-radius: .4rem;
    display: inline;
    color: #333;
    font-size: .8rem;
}

code{
    background-color: #ccc7;
    font-family: monospace;
    padding: .125rem;
    border-radius: .4rem;
    color: #333;
    font-size: .8rem;
}

#requirements-and-notes, #setup-and-support{
    display: flex;
}

#requirements-and-notes div, #setup-and-support div{
    width: 50%;
}

#setup{
    width: 70%;
    margin: auto;
}

#intro h3{
    text-align: center;
}

#intro button {
    background-color: transparent;
    padding: .125rem;
    text-decoration: underline;
    color: #0075d4;
}

#donate , #donate p{
    color: #333;
}

#close-btn{
    font-size: 1.2rem;
}

/* theme toggler style */
input[type=checkbox] {
    display: none !important;
}

label{
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
    position: relative;
    background-color: #ccc7;
    cursor: pointer;
    box-shadow: inset 0 0 2px 2px #aaa7;
}

input[type=checkbox]+span{
    position: absolute;
    display: inline-block;
    background-color: #777;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    left: .125rem;
    top: .15375rem;
    transition: .25s;
}

input[type=checkbox]:checked+span{
    background-color: #0075d4;
    left: calc(100% - (1.2rem + .125rem));
    /* right: 25rem; */
    
}